@{
    ViewData["Title"] = "Create";
}

@model ProductCreateViewModel

<h1>Create</h1>

<form method="post">
    <div class="input-group">
        <input type="text" class="form-control" asp-for="Product.Name" placeholder="Ürün adı giriniz"/>
    </div>
    <br />
     <div class="input-group">
        <input type="number" class="form-control" asp-for="Product.Stock" placeholder="Ürün stok giriniz"/>
    </div>
    <br />
    <div class="input-group">
        <input type="number" class="form-control" asp-for="Product.Price" placeholder="Ürün fiyatı giriniz"/>
    </div>
    <br />
    <div class="input-group">
        <select class="form-control" asp-for="Product.CategoryId" asp-items="Model.Categories" placeholder="Kategori Seçiniz"></select>
    </div>
    <br />

     <div class="input-group">
        <select class="form-control" asp-for="Product.SupplierId" asp-items="Model.Suppliers" placeholder="Tedarikçi Seçiniz"></select>
    </div>
    <br />
    <div class="btn">
        <button type="submit" value="Kaydet" class="btn btn-success">Kaydet</button>
    </div>
</form>